@model ASP.NET_Lista_7.Models.MVC.AccountLogInModel
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

@using (var form = Html.BeginForm())
{
    <div>
        Nazwa: @Html.TextBoxFor(m => m.UserName)
    </div>
    <div>
        Hasło: @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        @Model.Message
    </div>
    <button>
        LogIn
    </button>
}



