
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (var form = Html.BeginForm())
{
    <div>
        <button name="btn" value="cancel">Anuluj</button> <button name="btn" value="submit">Usuń</button>
    </div>
}

